.tile {
    width: 30px;
    height: 30px;
    background-color: darkturquoise;
    border: 1px;
    border-style: solid;
    border-color: blue;
    display: inline-block;
    position: relative;

}
.free-target-tile:hover { 
    background-color: yellow;
}
.missed-marker {
    background-color: white;
    border-radius: 50%;
    width:16px;
    height:16px;
    position: absolute;
    left: 8px;
    top: 8px;
}
.hit-marker {
    background-color: red;
    border-radius: 50%;
    width:16px;
    height:16px;
    position: absolute;
    left: 8px;
    top: 8px;
}
.board {
    border: 1px;
    border-style: solid;
    border-color: blue;
    display: inline-block;
    width: 320px;
    margin: 0 auto;
    position: relative;
}
.ship {
    position: absolute;
    top: 0px;
    left: 0px;
}